table{
    font-family: Helvetica, monospace;
    border-collapse: collapse;
    background-color: papayawhip;
    color: darkgrey;
    border-width: 1px;
    border-style: solid;
    border-color: #EACDA7
}
th{
    font-weight: 800;
    background-color: peachpuff;
    color: white
}
tr:hover{
    background-color: peachpuff;
}

